!/Library/KeyBindings
*.DS_Store
/.CFUserTextEncoding
/.Trash
/.adobe
/.ansible/
/.ansible.cfg
/.ansible_galaxy
/.archey-ip
/.asepsis-suppress-update-errors
/.autoenv_authorized*
/.aws
/.bash_history
/.bash_profile
/.bashrc
/.bundle
/.cabal/
/.cache
/.config
/.cups
/.dinghy/
/.docker/
/.ec2-keys
/.elm
/.gdbinit
/.gem
/.ghc
/.gpg-agent-info
/.gnupg
/.heroku
/.htoprc
/.httpie
/.irb-history
/.lein
/.lesshst
/.local
/.m2/
/.mail
/.mutt/alias
/.mutt/gmail.cert
/.mutt/signature
/.netrc
/.newsbeuter
/.nix/keys/signing-key.sec
/.no-asepsis-os-restriction
/.node-gyp
/.node_repl_history
/.npm
/.npmrc
/.oh-my-zsh
/.oracle_jre_usage/
/.psql_history
/.proselint/
/.rediscli_history
/.rnd
/.rvm
/.sqlite_history
/.ssh
/.stack
/.threadscope/
/.tmp
/tmp
/.travis/
/.trc
/.vagrant.d
/.vim/.netrwhist
/.vim/plugged
/.vimgolf
/.viminfo
/.vimv_history
/.weechat/
/.wget-hsts
/.yarnrc
/.zcompdump*
/.zsh-update
/.zsh_history
/Applications
/Desktop
/Documents
/Downloads
/Library
/Movies
/Music
/Pictures
/Public
/projects
/VirtualBox\ VMs
nohup.out
/.fzf.bash
/.fzf.zsh
/.fzf/
/.nix-profile
/.nix-defexpr/
/.nixops/
