!/Library/KeyBindings
*.DS_Store
/.CFUserTextEncoding
/.Trash
/.adobe
/.archey-ip
/.asepsis-suppress-update-errors
/.autoenv_authorized*
/.aws
/.bash_history
/.bundle
/.cache
/.config
/.cups
/.ec2-keys
/.gem
/.ghc
/.gnupg
/.heroku
/.htoprc
/.httpie
/.irb-history
/.lesshst
/.local
/.mail
/.netrc
/.newsbeuter
/.no-asepsis-os-restriction
/.npm
/.npmrc
/.psql_history
/.rnd
/.rvm
/.sqlite_history
/.ssh
/.stack
/.tmp
/.trc
/.vagrant.d
/.vim/.netrwhist
/.vimgolf
/.viminfo
/.wget-hsts
/.zcompdump*
/.zsh_history
/Applications
/Desktop
/Documents
/Downloads
/Library
/Movies
/Music
/Pictures
/Public
/Sites
/VirtualBox\ VMs
nohup.out
